* {
  margin: 0;
  padding: 0;
}

.body {

  background: whitesmoke;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 25px;
  background-color: whitesmoke;
  padding-left: 35px;
  text-align: center;
  justify-content: space-between;
  border-bottom: 4px solid black;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.815);
}

h2 {
  font-size: 24px;
  padding-top: 10px;
  text-align: justify;
  
}

h3 {
  font-size: 16px;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: justify;
  justify-content: space-between;
}

h4 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

p1,p2 {
font-size: 15px;
text-align: justify;
justify-content: space-between;
margin: 10px auto;
}

td {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.grid-container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

}

.grid-container > div,
.grid-container .header
.grid-container .main
.grid-container .sidebar
.grid-container .footer 
{
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  
}

.grid-container .header{
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #e9183b;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid darkblue;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.815);
  padding-left: 5px;
  padding-right: 5px;
  }

.grid-container .contenido {
  grid-column: span 2;
}

.grid-container .sidebar {
  grid-column: 3/4;
  background:#e9183b;
  color: white;
  text-align: center;
  /* display: flex; */
  padding-top: 20px;
  padding-left: 20px;
  justify-content: center;
  max-height: 1800px;
  min-height: 200px;
  max-width: 800px;
  grid-row: span 2;
}

.grid-container .widget-1,
.grid-container .widget-2 {
  background:darkblue;
  color: white;
  height: 300px;
  text-align: center;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.grid-container .footer {
  background: black;
  color: white;
  grid-column: span 3;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 1024px) {
  .logo {
    font-size: 30px;
    padding-left: 35px;
  }
  .menu_items li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 858px) {
  .formulario,
  .formularios__grupo,
	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: span 3 ;
	}

	.formulario__btn {
		width: 100%;
	}
  .header {
    height: 65px;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background:#41414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }

  .menu_items li {
    margin: 30px 0 0;
    line-height: 30px;
  }

  .menu_items li:hoover {
    background: none;
  }

  .menu_items li a {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  .menu_items li a:hoover {
    color: #e9183b;
  }

  .logo {
    font-size: 15px;
    padding-left: 35px;
    text-align: justify;
    justify-content: space-between;
  }


}

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
  }
  .menu_items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}


@media screen and (max-width: 768px) {
  
.grid-container .contenido {
  grid-column: 1/ -1;
}  
.grid-container .sidebar {
  grid-column: 1 / -1;
  }

.grid-container .widget-1 {
 grid-column: span 3;
  }

.grid-container .widget-2 {
grid-column: span 3;
}
}


/* Estilos de la pagina */

.logo {
  color: white;
  font-size: 30px;
  padding: 0 40px;
  font-weight: bold;
}

.menu_items {
display: flex;
list-style: none;
margin-right:30px;
text-align: center;
}

.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu_items li a {
  padding: 7px 25px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: white;
}

.menu_items li:hover, li.active {
background-color: rgba(0,0,0,.3);
transition: .4s;
}

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: black;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* .item1 {
    grid-area: header;
    font-size: 30px;

} 
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right '
      'menu main main main right right '
      'footer footer footer footer footer footer ';
    grid-gap: 20px;
    background-color: #2196F3;
    padding: 10px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
  }
  
  .grid-container > div,
  .grid-container .header
  .grid-container .menu
  .grid-container .main
  .grid-container .right
  .grid-container .footer {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    border-radius: 4px;
  }

  .grid-container .header {
    background:  #12203e;
    color:  #fff;
  }

  /* .grid-container .item4{
    background: red;
    text-align: center;
    /* display: flex; */
  /* } */
/* 
.grid-container .item5 {
  background: ;
} */
